.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

:host ::ng-deep .flex-cell {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
  box-sizing: border-box;
}

:host ::ng-deep .flex-cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}

:host ::ng-deep .flex-item {
  flex-grow: 1;
  border: 1px solid black;
  background: #667262;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
